<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/styles.css">
			<link rel="stylesheet" type="text/css" href="css/pygment_trac.css">
			<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
		</head>

		<body>
		<div class="wrapper">
			<header>
				<img src="images/photo.jpg" title="faculty photo" id="fac_photo"/><br>
				<a href="http://github.com/rudeboybert">github</a><br>
				<a href="http://twitter.com/rudeboybert">@rudeboybert</a><br>
				<a href="https://www.linkedin.com/in/albertykim">linkedin</a><br>
				<a href="mailto:aykim@middlebury.edu">aykim@middlebury.edu</a><br>
				<br>Mathematics Department<br>
				<a href="https://www.google.com/maps/place/Warner+Hall,+Middlebury,+VT+05753/@44.0101835,-73.1753978,17z/data=!3m1!4b1!4m2!3m1!1s0x4cb55d01b4b16bab:0x7e3ab849ef621319">
					Middlebury College<br>
					Middlebury, VT 05753</a><br>
					Phone: 802.443.5564<br>
					Office: Warner Hall 310<br>
					<p></p>
				</header>

				<section>
					<h1>Albert Y. Kim<br>
						Assistant Professor of Statistics</h1>


           <h3>
              <table rules="none">
                <tr>
                <td><a href="/"><li>Home</a></li></td>
                <td><a href="/teaching"><li>Teaching</a></li></td>
                <td><a href="/research"><li>Research</a></li></td> 
                <td><a href="/cv"><li>CV</a></li></td>
                <td><a href="/about"><li>About</a></li></td>
                </tr>
              </table>
            </h3>


			{{ content }}




			<!--<footer>
			</footer>-->
		</body>
	</html>
